<!DOCTYPE html>
<html>
  <head>
    <title>Audition App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Profiles', actors_path %> |
      <%= link_to 'Contact Us', contact_path %> |
      <a href="http://www.google.com" target="_blank">Google!</a>
    </header>
    <%= yield %>
  </body>
</html>
